
.page-description {
  padding: 30px;
  border: 1px solid #000;
  text-align: center;

h1 {
  font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 32px;
}

h2 {
  font-family: Ariel, 'Ariel', Ariel;
	  font-size: 18px;
}

#footer{
font-size: 8px;
}
